h1{
    color: blue;
}

body{
    margin: 3%;
}

div.first{
    background-color: aquamarine;
    padding: 1%;
}

div.first h2{
    color: red
}

div.first p{
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
}

div.second{
    background-color: burlywood;
}

div.second h2{
    color: green
}